body {
	
	background-image: url(https://www.shutterstock.com/image-vector/hand-drawn-robots-seamless-pattern-600nw-1112283416.jpg);
}

.container {
	background-color:cadetblue;
	padding: 20px;
}

.row {
	background-color: lightblue;
	padding: 20px;
}

